-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: dna_survey_db
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `form_e_stops`
--

DROP TABLE IF EXISTS `form_e_stops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_e_stops` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_id` varchar(64) NOT NULL,
  `village_code` varchar(10) NOT NULL,
  `stop_id` varchar(10) NOT NULL,
  `place_name` varchar(255) NOT NULL,
  `look_for` text,
  `actual_seen` text,
  `gps_coordinates` varchar(100) DEFAULT NULL,
  `photo_ref` varchar(255) DEFAULT NULL,
  `p_code` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `record_id` (`record_id`),
  KEY `village_code` (`village_code`),
  KEY `p_code` (`p_code`),
  CONSTRAINT `form_e_stops_ibfk_1` FOREIGN KEY (`record_id`) REFERENCES `survey_records` (`id`) ON DELETE CASCADE,
  CONSTRAINT `form_e_stops_ibfk_2` FOREIGN KEY (`village_code`) REFERENCES `villages` (`village_code`),
  CONSTRAINT `form_e_stops_ibfk_3` FOREIGN KEY (`p_code`) REFERENCES `problem_catalog` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_e_stops`
--

LOCK TABLES `form_e_stops` WRITE;
/*!40000 ALTER TABLE `form_e_stops` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_e_stops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `problem_catalog`
--

DROP TABLE IF EXISTS `problem_catalog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `problem_catalog` (
  `code` varchar(10) NOT NULL,
  `problem_en` varchar(255) NOT NULL,
  `problem_mr` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `problem_catalog`
--

LOCK TABLES `problem_catalog` WRITE;
/*!40000 ALTER TABLE `problem_catalog` DISABLE KEYS */;
/*!40000 ALTER TABLE `problem_catalog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_images`
--

DROP TABLE IF EXISTS `survey_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_images` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_id` varchar(64) DEFAULT NULL,
  `village_code` varchar(10) NOT NULL,
  `stop_id` varchar(10) DEFAULT NULL,
  `image_title` varchar(255) DEFAULT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_size_kb` int DEFAULT NULL,
  `mime_type` varchar(50) DEFAULT 'image/jpeg',
  `image_data` mediumblob,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `record_id` (`record_id`),
  KEY `village_code` (`village_code`),
  CONSTRAINT `survey_images_ibfk_1` FOREIGN KEY (`record_id`) REFERENCES `survey_records` (`id`) ON DELETE SET NULL,
  CONSTRAINT `survey_images_ibfk_2` FOREIGN KEY (`village_code`) REFERENCES `villages` (`village_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_images`
--

LOCK TABLES `survey_images` WRITE;
/*!40000 ALTER TABLE `survey_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_records`
--

DROP TABLE IF EXISTS `survey_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_records` (
  `id` varchar(64) NOT NULL,
  `form_key` enum('form0','formA','formB','formC','formD','formE','formF') NOT NULL,
  `village_code` varchar(10) NOT NULL,
  `village_name` varchar(100) DEFAULT NULL,
  `wadi` varchar(100) DEFAULT NULL,
  `interviewer` varchar(100) DEFAULT NULL,
  `respondent` varchar(100) DEFAULT NULL,
  `survey_date` date DEFAULT NULL,
  `form_no` varchar(50) DEFAULT NULL,
  `data_json` json NOT NULL,
  `client_updated` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_village_form` (`village_code`,`form_key`),
  KEY `idx_date` (`survey_date`),
  CONSTRAINT `survey_records_ibfk_1` FOREIGN KEY (`village_code`) REFERENCES `villages` (`village_code`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_records`
--

LOCK TABLES `survey_records` WRITE;
/*!40000 ALTER TABLE `survey_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tai_screenings`
--

DROP TABLE IF EXISTS `tai_screenings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tai_screenings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `record_id` varchar(64) NOT NULL,
  `village_code` varchar(10) NOT NULL,
  `form_key` enum('formA','formB','formC','formD') NOT NULL,
  `p_code` varchar(10) NOT NULL,
  `long_term` tinyint(1) DEFAULT '0',
  `often` tinyint(1) DEFAULT '0',
  `many` tinyint(1) DEFAULT '0',
  `real_loss` tinyint(1) DEFAULT '0',
  `keep_drop` enum('Keep','Drop') NOT NULL,
  `tech_type` varchar(50) DEFAULT 'Tech',
  PRIMARY KEY (`id`),
  KEY `record_id` (`record_id`),
  KEY `village_code` (`village_code`),
  KEY `idx_pcode_keep` (`p_code`,`keep_drop`),
  CONSTRAINT `tai_screenings_ibfk_1` FOREIGN KEY (`record_id`) REFERENCES `survey_records` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tai_screenings_ibfk_2` FOREIGN KEY (`village_code`) REFERENCES `villages` (`village_code`),
  CONSTRAINT `tai_screenings_ibfk_3` FOREIGN KEY (`p_code`) REFERENCES `problem_catalog` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tai_screenings`
--

LOCK TABLES `tai_screenings` WRITE;
/*!40000 ALTER TABLE `tai_screenings` DISABLE KEYS */;
INSERT INTO `tai_screenings` VALUES (42,'a1','VG1','formA','P06',1,1,0,0,'Keep','Tech'),(43,'a2','VG1','formA','P06',1,1,0,0,'Keep','Tech'),(44,'b1','VG1','formB','P23',1,1,0,0,'Keep','Tech'),(45,'c1','VG1','formC','P01',1,1,0,0,'Drop','Tech');
/*!40000 ALTER TABLE `tai_screenings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `villages`
--

DROP TABLE IF EXISTS `villages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `villages` (
  `village_code` varchar(10) NOT NULL,
  `village_name` varchar(100) NOT NULL,
  `taluka` varchar(50) DEFAULT 'Vaibhavwadi',
  `district` varchar(50) DEFAULT 'Sindhudurg',
  `state` varchar(50) DEFAULT 'Maharashtra',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`village_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `villages`
--

LOCK TABLES `villages` WRITE;
/*!40000 ALTER TABLE `villages` DISABLE KEYS */;
/*!40000 ALTER TABLE `villages` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-12 19:43:27
